<ion-card>
  <ion-card-content>
    <ion-list lines="none">
      <ion-item>
        <ion-label><strong>Today movements</strong></ion-label>
        <ion-icon color="primary" name="chevron-forward-circle-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item *ngFor="let movement of [1,2,3,4] | slice:0:limit;">
        <ion-icon slot="start" size="small" name="ellipse"></ion-icon>
        <ion-label>This month</ion-label>
        <ion-label slot="end"><strong>$ {{ 5990 | number }}</strong></ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>