<ion-card>
  <ion-card-content>
    <ion-accordion-group [multiple]="true" value="income">
      <ion-accordion value="income" toggle-icon="chevron-down-circle-outline">
        <ion-item slot="header">
          <ion-label>Income</ion-label>
        </ion-item>
    
        <ion-list slot="content">
          <ion-item *ngFor="let movement of [1,2,3,4] | slice:0:limit;">
            <ion-icon color="danger" slot="start" size="small" name="ellipse"></ion-icon>
            <ion-label>This month</ion-label>
            <strong><ion-text color="dark">$ </ion-text><ion-text color="danger" slot="end">{{ 5990 | number }}</ion-text></strong>
          </ion-item>
        </ion-list>
      </ion-accordion>
      <ion-accordion value="expenses" toggle-icon="chevron-down-circle-outline">
        <ion-item slot="header">
          <ion-label>Expenses</ion-label>
        </ion-item>
    
        <ion-list slot="content">
          <ion-item *ngFor="let movement of [1,2,3,4] | slice:0:limit;">
            <ion-icon color="success" slot="start" size="small" name="ellipse"></ion-icon>
            <ion-label>This month</ion-label>
            <strong><ion-text color="dark">$ </ion-text><ion-text color="success" slot="end">{{ 5990 | number }}</ion-text></strong>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card-content>
</ion-card>