<ion-header>
</ion-header>

<ion-content>
  <app-header-wave></app-header-wave>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            <ion-list lines="none">
              <ion-item>
                <ion-icon size="large" slot="start" name="person-circle-outline"></ion-icon>
                <h1><strong>Javier Muñoz</strong></h1>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            <ion-list lines="none">
              <ion-item>
                <ion-label>{{ "preferences.dark-mode" | translate}}</ion-label>
                <ion-toggle slot="end" (ionChange)="onToggleColorTheme($event)" [checked]="isDarkModeOn"></ion-toggle>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-list lines="none">
              <ion-item button>
                <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
                <ion-label class="ion-text-wrap">{{ "preferences.backup" | translate}}</ion-label>
                <ion-badge slot="end" color="success">Activated</ion-badge>
              </ion-item>
            </ion-list>
            <ion-accordion-group>
              <ion-accordion toggle-icon="chevron-down-circle-outline">
                <ion-item button slot="header">
                  <ion-icon slot="start" name="shield-checkmark-outline"></ion-icon>
                  <ion-label>{{ "preferences.security" | translate}}</ion-label>
                </ion-item>

                <ion-list slot="content">
                  <ion-radio-group (ionChange)="changeSecurity($event)" [value]="selectedSecurity">
                    <ion-item class="ion-padding-start">
                      <ion-icon slot="start" name="keypad-outline"></ion-icon>
                      <ion-label>{{ "preferences.numeric" | translate}}</ion-label>
                      <ion-radio slot="end" value="numeric"></ion-radio>
                    </ion-item>
                
                    <ion-item class="ion-padding-start">
                      <ion-icon color="dark" slot="start" src="../../../../assets/icon/patron-de-bloqueo.svg"></ion-icon>
                      <ion-label>{{ "preferences.gesture" | translate}}</ion-label>
                      <ion-radio slot="end" value="gesture"></ion-radio>
                    </ion-item>
                
                    <ion-item class="ion-padding-start">
                      <ion-icon slot="start" name="finger-print-outline"></ion-icon>
                      <ion-label>{{ "preferences.fingerprint" | translate}}</ion-label>
                      <ion-radio slot="end" value="fingerprint"></ion-radio>
                    </ion-item>
                
                    <ion-item class="ion-padding-start">
                      <ion-icon slot="start" name="ban-outline"></ion-icon>
                      <ion-label>{{ "preferences.none" | translate}}</ion-label>
                      <ion-radio slot="end" value="none"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-list>
              </ion-accordion>
            </ion-accordion-group>
            <ion-list lines="none">
              <ion-item button>
                <ion-icon slot="start" name="star-outline"></ion-icon>
                <ion-label>{{ "preferences.rate" | translate}}</ion-label>
                <ion-icon slot="end" name="chevron-down-circle-outline"></ion-icon>
              </ion-item>
              <ion-item button>
                <ion-icon slot="start" name="share-social-outline"></ion-icon>
                <ion-label>{{ "preferences.share" | translate}}</ion-label>
                <ion-icon slot="end" name="chevron-down-circle-outline"></ion-icon>
              </ion-item>
              <ion-item button>
                <ion-icon slot="start" name="chatbox-ellipses-outline"></ion-icon>
                <ion-label>{{ "preferences.feedback" | translate}}</ion-label>
                <ion-icon slot="end" name="chevron-down-circle-outline"></ion-icon>
              </ion-item>
            </ion-list>
            <ion-accordion-group>
              <ion-accordion toggle-icon="chevron-down-circle-outline">
                <ion-item button slot="header">
                  <ion-icon slot="start" name="language-outline"></ion-icon>
                  <ion-label>{{ "preferences.language" | translate}}</ion-label>
                </ion-item>

                <ion-list slot="content">
                  <ion-radio-group (ionChange)="changeLanguage($event)" [value]="selectedLanguage">
                    <ion-item class="ion-padding-start">
                      <ion-label>{{ "preferences.spanish" | translate}}</ion-label>
                      <ion-radio value="es" slot="end"></ion-radio>
                    </ion-item>
                
                    <ion-item class="ion-padding-start">
                      <ion-label>{{ "preferences.english" | translate}}</ion-label>
                      <ion-radio value="en" slot="end"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-list>
              </ion-accordion>
            </ion-accordion-group>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            <ion-list lines="none">
              <ion-item button>
                <!-- <ion-icon name="" slot="start"></ion-icon> -->
                <ion-label>{{ "preferences.version" | translate}}</ion-label>
                <ion-badge slot="end">{{ versionNumber }}</ion-badge>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
