<ion-content>
  <app-header-wave></app-header-wave>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            <ion-list lines="none">
              <ion-item class="ion-text-center">
                <ion-icon (click)="prevDate()" color="primary" name="chevron-back-circle-outline" slot="start"></ion-icon>
                <ion-label>{{ 'home.dateSelector' | translate: { date: selectedDate.format('MMMM') } }}</ion-label>
                <ion-icon (click)="nextDate()" color="primary" name="chevron-forward-circle-outline" slot="end"></ion-icon>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <app-total-income-expenses [date]="selectedDate"></app-total-income-expenses>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="12">
        <app-income-expenses-list [date]="selectedDate"></app-income-expenses-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab (click)="addMovement()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
