<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>{{ 'home.tab-title' | translate }}</ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="accounts">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>{{ 'accounts.tab-title' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="resume">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>{{ 'resume.tab-title' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="preferences">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>{{ 'preferences.tab-title' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
