<ion-content class="ion-padding-top">
  <ion-grid class="ion-padding-top">
    <ion-row class="ion-padding-top">
      <ion-col size="10" offset="1" class="ion-text-center">
        <ion-icon name="wallet-outline" size="large"></ion-icon>
        <ion-text><h1>{{ "login.title" | translate }} <br><ion-label color="secondary">{{ "login.app-name" | translate }}</ion-label></h1></ion-text>
      </ion-col>
      <ion-col size="10" offset="1" class="ion-text-center">
        <ion-text>{{ "login.description" | translate }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-vertical">
      <ion-col size="12" class="ion-text-center">
        <ion-img src="../../../assets/images/imgbin-money-wallet-bank-saving-coin-purse-wallet-eaMCF4eCxHGXM35LAKfFM6iui-removebg-preview.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top">
      <ion-col size="10" offset="1" class="ion-padding-top">
        <ion-button expand="block" shape="round" class="ion-margin-top">
          {{ "login.login" | translate }}
        </ion-button>
      </ion-col>
      <ion-col size="10" offset="1">
        <ion-button expand="block" shape="round" fill="clear">
          {{ "login.singup" | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
